<div class="container">
<div align="center"> 
<h1><%= @article.title %></h1>
<p><%= @article.content %></p>


<%if user_signed_in?%>
      <%= link_to "Edit", edit_article_path(@article),class:"w3-button w3-round-xlarge w3-blue" %> | <%= link_to "Destroy", article_path(@article),class:"w3-button w3-round w3-red" ,data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
  </div>
<%end%>
</div>

<div class="w3-container-medium">
  <h2>Comments</h2>

  <div class="w3-card-4" style="width:70%">
    <div class="w3-container">
      <hr>
      <p><%= render @article.comments%></p><br>
    </div>
    <%= render 'comments/form' %>
  </div>
</div>

</div>
</div>