<div class="w3">
  <div class="w3-bar w3-black">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </div>
    <%= link_to 'Home', root_path,class: "w3-bar-item w3-button w3-padding-large w3-hide-small" %>

    <% if user_signed_in? %>
        <%= link_to "New blog", new_article_path %>
        <%= link_to 'Sign Out' , destroy_user_session_path,class: "w3-padding-large w3-hover-red w3-hide-small w3-right", method: :delete%>
    <%else%>
          <%= link_to 'Sign In', new_user_session_path,class: "w3-bar-item w3-button w3-padding-large w3-hide-small" %>
          <%= link_to 'Sign Up', new_user_registration_path,class: "w3-bar-item w3-button w3-padding-large w3-hide-small" %>
     <%end %>
</div>
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
