<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags%>
  </head>
  <body>
      <%=render "shared/navbar"%>
      <% if notice %>
        <div class="w3-right-align"><p class="alert alert-success"><br><%= notice %></p></div>
      <% end %>
      <% if alert %>
        <div class="w3-right-align"><p class="alert alert-danger"><%= alert %></p></div>
      <% end %>
      <%= yield %>
  </body>
</html>
